@import "1-bases/bootstrap.scss";
@import "2-modules/hyde.css";
@import "2-modules/poole.css";
@import "2-modules/syntax.css";
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400, 400italic, 700|Abril+Fatface");

.jumbotron {
  padding-bottom: 80px;
}

.img-circle {
  border-radius: 50%;
}

.content {
  padding-top: 20px;
}

.mypic {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
